<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.todolist">

    <application
        android:allowBackup="true"
        android:icon="@drawable/guy_talking"
        android:label="@string/app_name"
        android:roundIcon="@drawable/guy_talking"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.RecommendationsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.EditTaskActivity"
            android:label="@string/edit_activity_label"
            android:parentActivityName=".activities.RecommendationsActivity">

        </activity>

        <activity
            android:name=".activities.ManageCategoriesActivity"
            android:label="Manage your categories"
            android:parentActivityName=".activities.RecommendationsActivity"
            >

        </activity>
    </application>

</manifest>